@import "base.css";

#custom-appmenu,
#tray,
#tray menu,
#taskbar,
#window,
#workspaces,
#network,
#cpu,
#pulseaudio,
#clock,
#custom-notification,
#taskbar button,
#workspaces button {
  border-radius: 2em;
}

