/* Backgrounds */
@define-color background-hard #1d2021;
@define-color background      #282828;
@define-color background-soft #32302f;
@define-color background1     #3c3836;
@define-color background2     #504945;
@define-color background3     #665c54;
@define-color background4     #7c6f64;

/* Foregrounds */
@define-color foreground  #fbf1c7;
@define-color foreground1 #ebdbb2;
@define-color foreground2 #d5c4a1;
@define-color foreground3 #bdae93;
@define-color foreground4 #a89984;

/* Colors */
@define-color red      #fb4934;
@define-color green    #b8bb26;
@define-color yellow   #fabd2f;
@define-color blue     #83a598;
@define-color purple   #d3869b;
@define-color aqua     #8ec07c;
@define-color gray     #928374;
@define-color orange   #fe8019;

/* Dim Colors */
@define-color red-dim      #cc2412;
@define-color green-dim    #98971a;
@define-color yellow-dim   #d79921;
@define-color blue-dim     #458588;
@define-color purple-dim   #b16286;
@define-color aqua-dim     #689d6a;
@define-color gray-dim     #a89984;
@define-color orange-dim   #d65d0e;
